@model MvcProject.Models.RoleModels.GiveViewModel

<h2>Дать роль пользователю</h2>
<form method="post" asp-controller="Role" asp-action="Give">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Role"></label><br />
        <input asp-for="Role" />
        <span asp-validation-for="Role"></span>
    </div>
    <div>
        <input type="submit" value="Дать роль" />
    </div>
</form>